ENVIRONMENT=development
PORT=3000
FRONTEND_URL=http://localhost:4000
MONGODB_URI=mongodb://localhost:27017
MONGODB_NAME=streetballer
JWT_SECRET=
JWT_ACCESS_TTL=3600
JWT_REFRESH_TTL=2419200
PASSWORD_RESET_TOKEN_TTL=3600
EMAIL_VERIFICATION_TOKEN_TTL=86400
SMTP_HOST=
SMTP_PORT=587
SMTP_USER=
SMTP_PASSWORD=
SMTP_FROM=
